body {
    background: #dfdfdf
}

img {
    width: 200px;
}

p {
    color: #222222;
}

.foto {
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    /*border-width: 5px;
    border-style: solid;
    border-color: black;
    */
}