body {
    background: #dfdfdf
}

img {
    width: 200px;
}

p {
    color: #222222;
}

.foto {
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;

    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px;
    */
    margin: 30px 30px 30px 30px;
}