body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: #222222;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

img {
    width: 200px;
}

.foto {
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    margin: 30px 3px 0 30px;
    /*padding: 10px;*/
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

.social-links{
    text-decoration: none;
}

.social-icons {
    width: 20px;
}

.github {
    margin: 0 15px 0 15px;
}