body {
    background: #dfdfdf
}

img {
    width: 200px;
}

p {
    color: #222222;
}

.foto {
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    margin: 30px;
    padding: 10px;
}